.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/tasks.xml
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/modules.xml
/.idea/scope/scope_settings.xml
/.idea/vcs.xml
.DS_Store
/build
app/app.iml
app/build
*.iml
/.svn