<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leechangu.sweettask" >

    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
                android:name="com.leechangu.sweettask.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.leechangu.sweettask.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- for Parse SDK -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity

            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InvitationActivity">

        </activity>

        <activity
            android:name=".CancellationActivity">

        </activity>

        <activity
            android:name=".MapsActivity"
            android:label="Select a location" >
        </activity>
        <activity
            android:name=".login.LogInActivity"
            android:label="SweeTask"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BoundActivity">
        </activity>
        <activity
            android:name=".UnboundActivity">

        </activity>
        <activity
            android:name=".login.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".settask.TaskPreferenceActivity"
            android:label="Set a task" >
        </activity>
        <activity
            android:name=".MyLocationActivity"
            android:label="My Location" >
        </activity>

        <receiver
            android:name=".TaskNotificationUpdateBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name=".TaskNotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name=".TaskNotificationUpdateService"
            android:enabled="true">
        </service>

        <!--<activity android:name=".HerTaskActivity"></activity>-->
        <activity
            android:name=".TaskCalendarActivity"
            android:label="Calendar">
        </activity>

        <!--This is for Parse Notification-->
        <service android:name="com.parse.PushService" />
        <!--<receiver android:name="com.parse.ParsePushBroadcastReceiver"-->
                  <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.parse.push.intent.RECEIVE" />-->
                <!--<action android:name="com.parse.push.intent.DELETE" />-->
                <!--<action android:name="com.parse.push.intent.OPEN" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver android:name="com.parse.GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.leechangu.sweettask" />
            </intent-filter>
        </receiver>

        <!--Parse customized receiver-->
        <receiver
            android:name="com.leechangu.sweettask.ParsePushNotificationBroadcast"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>



        <!--This is for notification icon-->
        <meta-data android:name="com.parse.push.notification_icon" android:resource="@mipmap/ic_launcher"/>
    </application>

</manifest>
